.listed-job-card {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-bottom: 1em;
}

.listed-job-card img {
    width: 100%;
    margin-bottom: 0.5em;
}
  
.listed-job-card-container {
    padding: 0 16px;
}

.listed-job-card-header .ant-avatar {
    margin-top: 0.3em;
}

.listed-job-card-description {
    margin-top: 1em;
}